*.beam

*.dump

bib/*

**/output/*

**/report*

*.dot

*.class

examples/prova/problem1.xml

examples/other/pn_paper_prova.xml

old2/*


apt/ListAllModules.java

apt/usage_list

output.json

output.txt

salida

salida.txt

salida1

salida2

diff1

diff2
